{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}